In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df

,Strain,V_Accession_full,V_FullSeq_length,ORF1ab,spike,Host,Host_Accession,Cytb_Length,Reference
0,BtRf-AlphaCoV/YN2012,KJ473808,26975,AIA62258,AIA62259,Rhinolophus ferrumequinum,AB085731,1140.0,China_bat
1,HKU2,EF203065,27164,ABQ57215,ABQ57216,Rhinolophus sinicus,HM134917,1140.0,NaN
2,BtRf-AlphaCoV/HuB2013,KJ473807,27608,AIA62251,AIA62252,Rhinolophus ferrumequinum,AB085731,1140.0,China_bat
3,BtMr-AlphaCoV/SAX2011,KJ473806,27935,AIA62245,AIA62246,Myotis ricketti,AB106608,1140.0,China_bat
4,BtMf-AlphaCoV/AH2011,KJ473795,28310,AIA62199,AIA62200,Miniopterus fuliginosus,AB085735,1140.0,China_bat
...,...,...,...,...,...,...,...,...,...
67,Rs4874,KY417150,30311,ATO98203,ATO98205,Rhinolophus sinicus,HM134917,1140.0,NaN
68,BtVs-BetaCoV/SC2013,KJ473821,30423,AHY61336,AHY61337,Vespertilio superans,AB085738,1140.0,China_bat
69,BtPa-BetaCoV/GD2013,KJ473820,30480,AIA62342,AIA62343,Pipistrellus abramus,AB085739,1140.0,China_bat
70,HKU5-1,EF065509,30482,ABN10874,ABN10875,Pipistrellus abramus,AB085739,NaN,NaN
71,BtHp-BetaCoV/ZJ2013,KF636752,31491,NaN,AIL94216,Hipposideros pratti,OP894116,1140.0,China_bat

In [48]:
accession_list = df.V_Accession_full
print(accession_list.to_list())

['KJ473808', 'EF203065 ', 'KJ473807', 'KJ473806', 'KJ473795', 'KJ473796', 'EU420138 ', 'EU420137 ', 'KJ473800', 'KJ473798', 'KJ473797', 'KJ473799', 'EU420139 ', 'KJ473811', 'FJ588686', 'KJ473816', 'KJ473816', 'KJ473815', 'KJ473815', 'NC_014470.1', 'GU190215', 'KJ473812', 'JX993988.1', 'KJ473813', 'JX993987', 'KJ473814', 'KJ473814', 'KY770859', 'GQ153548', 'GQ153543', 'DQ084199', 'KY770858', 'MK211377', 'GQ153545', 'GQ153544', 'GQ153546', 'GQ153540', 'GQ153541', 'GQ153539', 'GQ153547', 'DQ084200', 'GQ153542', 'KU973692', 'KY417142', 'DQ022305', 'MG772934', 'DQ071615', 'DQ648857', 'KY417147', 'KY417143', 'KY417148', 'KY417149', 'DQ412043', 'KY417152', 'KY417144', 'KY417146', 'KC881005', 'KC881006', 'MG772933', 'KF569996', 'MN996532', 'KJ473822', 'MK211376', 'EF065505.1', 'KT444582', 'KY417151', 'KF367457', 'KY417150', 'KJ473821', 'KJ473820', 'EF065509 ', 'KF636752']

## Get association matrix

In [3]:
df = df[['Strain','V_Accession_full','Host','Host_Accession']]
df

,Strain,V_Accession_full,Host,Host_Accession
0,BtRf-AlphaCoV/YN2012,KJ473808,Rhinolophus ferrumequinum,AB085731
1,HKU2,EF203065,Rhinolophus sinicus,HM134917
2,BtRf-AlphaCoV/HuB2013,KJ473807,Rhinolophus ferrumequinum,AB085731
3,BtMr-AlphaCoV/SAX2011,KJ473806,Myotis ricketti,AB106608
4,BtMf-AlphaCoV/AH2011,KJ473795,Miniopterus fuliginosus,AB085735
...,...,...,...,...
67,Rs4874,KY417150,Rhinolophus sinicus,HM134917
68,BtVs-BetaCoV/SC2013,KJ473821,Vespertilio superans,AB085738
69,BtPa-BetaCoV/GD2013,KJ473820,Pipistrellus abramus,AB085739
70,HKU5-1,EF065509,Pipistrellus abramus,AB085739
71,BtHp-BetaCoV/ZJ2013,KF636752,Hipposideros pratti,OP894116

In [4]:
with open('Bat_matrix.txt', 'r') as f:
    bat_label = [line.strip().split(' ')[0] for line in f][1:]

In [5]:
bat_label

['ON640726.1_Miniopterus-magnater',
 'AB085735.1_Miniopterus-fuliginosus',
 'ON640722.1_Tylonycteris-pachypus',
 'AB085738.1_Vespertilio-superans',
 'AB085739.2_Pipistrellus-abramus',
 'AB106608.1_Myotis-ricketti',
 'AB085731.1_Rhinolophus-ferrumequinum',
 'MZ936290.1_Rhinolophus-blasii',
 'KP972690.1_Rhinolophus-affinis',
 'HM134917.1_Rhinolophus-sinicus',
 'ON012504.1_Rhinolophus-pusillus',
 'KX261916.1_Rhinolophus-macrotis',
 'JX502551.1_Rhinolophus-pearsonii',
 'OP894116.1_Hipposideros-pratti',
 'DQ888677.1_Aselliscus-stoliczkanus',
 'ON640662.1_Chaerephon-plicatus',
 'MN366288.1_Miniopterus-pusillus']

In [6]:
len(bat_label)

17

In [7]:
with open('V_matrix.txt', 'r') as f:
    v_label = [line.strip().split(' ')[0] for line in f][1:]
len(v_label)

69

In [8]:
v_label

['EF065505.1_HKU4',
 'KJ473822.1_BtTp-BetaCoV/GX2012',
 'EF065509.1_HKU5',
 'KJ473820.1_BtPa-BetaCoV/GD2013',
 'KJ473821.1_BtVs-BetaCoV/SC2013',
 'NC_014470.1_BM48-31/BGR/2008',
 'GU190215.1_BM48-31/BGR/2008',
 'MG772933.1_SL-CoVZC45',
 'MG772934.1_SL-CoVZXC21',
 'MN996532.2_RaTG13',
 'DQ022305.2_HKU3-1',
 'DQ084200.1_HKU3-3',
 'GQ153545.1_HKU3-10',
 'GQ153544.1_HKU3-9',
 'GQ153546.1_HKU3-11',
 'GQ153548.1_HKU3-13',
 'GQ153540.1_HKU3-5',
 'GQ153539.1_HKU3-4',
 'GQ153541.1_HKU3-6',
 'DQ084199.1_HKU3-2',
 'GQ153547.1_HKU3-12',
 'GQ153543.1_HKU3-8',
 'GQ153542.1_HKU3-7',
 'DQ648857.1_BtCoV/279/2005',
 'DQ412043.1_Rm1',
 'KJ473814.1_BtRs-BetaCoV/HuB2013',
 'KJ473812.1_BtRf-BetaCoV/HeB2013',
 'KJ473813.1_BtRf-BetaCoV/SX2013',
 'KJ473811.1_BtRf-BetaCoV/JL2012',
 'JX993987.1_Rp/Shaanxi2011',
 'KY770859.1_Anlong-112',
 'KY770858.1_Anlong-103',
 'KJ473816.1_BtRs-BetaCoV/YN2013',
 'KT444582.1_WIV16',
 'KY417150.1_Rs4874',
 'KY417146.1_Rs4231',
 'KY417144.1_Rs4084',
 'KC881005.1_RsSHC014',
 'KF367457.1_WIV1',
 'KC881006.1_Rs3367',
 'KY417152.1_Rs9401',
 'KY417151.1_Rs7327',
 'MK211376.1_BtRs-BetaCoV/YN2018B',
 'KY417147.1_Rs4237',
 'KY417148.1_Rs4247',
 'KY417143.1_Rs4081',
 'KY417149.1_Rs4255',
 'MK211377.1_BtRs-BetaCoV/YN2018C',
 'KY417142.1_As6526',
 'FJ588686.1_BtRs672/2006',
 'DQ071615.1_Rp3',
 'KJ473815.1_BtRs-BetaCoV/GX2013',
 'KF569996.1_LYRa11',
 'JX993988.1_Cp/Yunnan2011',
 'KU973692.1_F46',
 'KF636752.1_Hp-betacoronavirus/Zhejiang2013',
 'KJ473795.1_BtMf-AlphaCoV/AH2011',
 'EU420138.1_Miniopterus-bat-coronavirus1',
 'KJ473796.1_BtMf-AlphaCoV/JX2012',
 'EU420137.1_1B-strain-AFCD307',
 'EU420139.1_HKU8-strain-AFCD77',
 'KJ473797.1_BtMf-AlphaCoV/GD2012',
 'KJ473800.1_BtMf-AlphaCoV/HeN2013',
 'KJ473798.1_BtMf-AlphaCoV/HuB2013',
 'KJ473799.1_BtMf-AlphaCoV/FJ2012',
 'KJ473807.1_BtRf-AlphaCoV/HuB2013',
 'KJ473806.1_BtMr-AlphaCoV/SAX2011',
 'EF203065.1_HKU2',
 'KJ473808.1_BtRf-AlphaCoV/YN2012']

In [9]:
bat_id_lt = [line.split('_')[0].split('.')[0] for line in bat_label]
print(bat_id_lt)

['ON640726', 'AB085735', 'ON640722', 'AB085738', 'AB085739', 'AB106608', 'AB085731', 'MZ936290', 'KP972690', 'HM134917', 'ON012504', 'KX261916', 'JX502551', 'OP894116', 'DQ888677', 'ON640662', 'MN366288']

In [10]:
v_id_lt = [line.split('_')[0].split('.')[0] for line in v_label]
print(v_id_lt)

['EF065505', 'KJ473822', 'EF065509', 'KJ473820', 'KJ473821', 'NC', 'GU190215', 'MG772933', 'MG772934', 'MN996532', 'DQ022305', 'DQ084200', 'GQ153545', 'GQ153544', 'GQ153546', 'GQ153548', 'GQ153540', 'GQ153539', 'GQ153541', 'DQ084199', 'GQ153547', 'GQ153543', 'GQ153542', 'DQ648857', 'DQ412043', 'KJ473814', 'KJ473812', 'KJ473813', 'KJ473811', 'JX993987', 'KY770859', 'KY770858', 'KJ473816', 'KT444582', 'KY417150', 'KY417146', 'KY417144', 'KC881005', 'KF367457', 'KC881006', 'KY417152', 'KY417151', 'MK211376', 'KY417147', 'KY417148', 'KY417143', 'KY417149', 'MK211377', 'KY417142', 'FJ588686', 'DQ071615', 'KJ473815', 'KF569996', 'JX993988', 'KU973692', 'KF636752', 'KJ473795', 'EU420138', 'KJ473796', 'EU420137', 'EU420139', 'KJ473797', 'KJ473800', 'KJ473798', 'KJ473799', 'KJ473807', 'KJ473806', 'EF203065', 'KJ473808']

In [11]:
df_m = pd.DataFrame(index=bat_id_lt, columns=v_id_lt)
df_m = df_m.fillna(int(0))
df_m

,EF065505,KJ473822,EF065509,KJ473820,KJ473821,NC,GU190215,MG772933,MG772934,MN996532,...,EU420137,EU420139,KJ473797,KJ473800,KJ473798,KJ473799,KJ473807,KJ473806,EF203065,KJ473808
ON640726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085735,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ON640722,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085738,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085739,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB106608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MZ936290,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KP972690,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
HM134917,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ON012504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KX261916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
JX502551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OP894116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DQ888677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ON640662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MN366288,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
df

,Strain,V_Accession_full,Host,Host_Accession
0,BtRf-AlphaCoV/YN2012,KJ473808,Rhinolophus ferrumequinum,AB085731
1,HKU2,EF203065,Rhinolophus sinicus,HM134917
2,BtRf-AlphaCoV/HuB2013,KJ473807,Rhinolophus ferrumequinum,AB085731
3,BtMr-AlphaCoV/SAX2011,KJ473806,Myotis ricketti,AB106608
4,BtMf-AlphaCoV/AH2011,KJ473795,Miniopterus fuliginosus,AB085735
...,...,...,...,...
67,Rs4874,KY417150,Rhinolophus sinicus,HM134917
68,BtVs-BetaCoV/SC2013,KJ473821,Vespertilio superans,AB085738
69,BtPa-BetaCoV/GD2013,KJ473820,Pipistrellus abramus,AB085739
70,HKU5-1,EF065509,Pipistrellus abramus,AB085739
71,BtHp-BetaCoV/ZJ2013,KF636752,Hipposideros pratti,OP894116

In [13]:
# Iterate over each row
for index, row in df.iterrows():
    bat = row['Host_Accession'].split('.')[0].strip()
    virus = row['V_Accession_full'].split('_')[0].split('.')[0].strip()
    df_m.loc[bat,virus]=int(1)
    print(bat,virus)

AB085731 KJ473808
HM134917 EF203065
AB085731 KJ473807
AB106608 KJ473806
AB085735 KJ473795
AB085735 KJ473796
ON640726 EU420138
MN366288 EU420137
AB085735 KJ473800
AB085735 KJ473798
AB085735 KJ473797
AB085735 KJ473799
MN366288 EU420139
AB085731 KJ473811
HM134917 FJ588686
HM134917 KJ473816
HM134917 KJ473816
HM134917 KJ473815
HM134917 KJ473815
MZ936290 NC
MZ936290 GU190215
AB085731 KJ473812
ON640662 JX993988
AB085731 KJ473813
ON012504 JX993987
HM134917 KJ473814
HM134917 KJ473814
HM134917 KY770859
HM134917 GQ153548
HM134917 GQ153543
HM134917 DQ084199
HM134917 KY770858
KP972690 MK211377
HM134917 GQ153545
HM134917 GQ153544
HM134917 GQ153546
HM134917 GQ153540
HM134917 GQ153541
HM134917 GQ153539
HM134917 GQ153547
HM134917 DQ084200
HM134917 GQ153542
ON012504 KU973692
DQ888677 KY417142
HM134917 DQ022305
HM134917 MG772934
JX502551 DQ071615
KX261916 DQ648857
HM134917 KY417147
HM134917 KY417143
HM134917 KY417148
HM134917 KY417149
KX261916 DQ412043
HM134917 KY417152
HM134917 KY417144
HM134917 KY417146
HM134917 KC881005
HM134917 KC881006
HM134917 MG772933
KP972690 KF569996
KP972690 MN996532
ON640722 KJ473822
KP972690 MK211376
ON640722 EF065505
HM134917 KT444582
HM134917 KY417151
HM134917 KF367457
HM134917 KY417150
AB085738 KJ473821
AB085739 KJ473820
AB085739 EF065509
OP894116 KF636752

In [14]:
df_m

,EF065505,KJ473822,EF065509,KJ473820,KJ473821,NC,GU190215,MG772933,MG772934,MN996532,...,EU420137,EU420139,KJ473797,KJ473800,KJ473798,KJ473799,KJ473807,KJ473806,EF203065,KJ473808
ON640726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085735,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,1,1,0,0,0,0
ON640722,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085738,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB085739,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AB106608,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
AB085731,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
MZ936290,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KP972690,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
HM134917,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
ON012504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
KX261916,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
JX502551,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
OP894116,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
DQ888677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ON640662,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MN366288,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0

In [16]:
df_m.to_csv('link.csv',index=True)